@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    background: #004186; /* Old browsers */
    background: -moz-linear-gradient(45deg, #004186 0%, #007afd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #004186 0%, #007afd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #004186 0%, #007afd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004186', endColorstr='#007afd', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

h1 {
    font-family: 'Pacifico', cursive;
}